
body { 
	margin: 0px;
}

.score{
	position: absolute;
	top: 7%;
	left: 1%;
	color:aliceblue;
	font-size: 200%;

}
.timer{
	position: absolute;
	top: 1%;
	left: 1%;
	color:aliceblue;
	font-size: 150%;
}
.lives{
	position: absolute;
	bottom: 1%;
	left: 1%;
	color:aliceblue;
	font-size: 150%;
}
.powerup{
	position: absolute;
	bottom: 10%;
	width: 100%;
	color:rgb(252, 138, 0);
	font-size: 200%;
	text-align: center;
}

.menu{
    position: absolute;
    top: 25%;
    left: 30%;
    background-color: rgb(12, 5, 48);
	width: 40%;
    height: auto;
	border-radius: 4px;
	border-width: 2px;
	border-color: aliceblue;
	color: aliceblue;
	border-style: solid;
}
.main-menu{
    position: absolute;
    top: 10%;
    left: 30%;
    background-color: rgb(12, 5, 48);
	width: 40%;
    height: auto;
	border-radius: 4px;
	border-width: 2px;
	border-color: aliceblue;
	color: aliceblue;
	border-style: solid;
}
.side-menu{
    position: absolute;
    top: 10%;
    left: 8%;
    background-color: rgb(12, 5, 48);
	width: 20%;
    height: auto;
	border-radius: 4px;
	border-width: 2px;
	border-color: aliceblue;
	color: aliceblue;
	border-style: solid;
}

.btn{
	border-radius: 0px;
}
.form-control{
	border-radius: 0px;
}

.form-check{
	font-size: 80%;
}

.w-100  {
	max-height: 50%;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


*{
	font-family: 'Roboto', sans-serif;
	font-family: 'VT323', monospace;
	font-size: 120%;
}
​

/* 
*{
	cursor: none;
}

	margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
*/
