
body { 
	margin: 0px;
}

.score{
	position: fixed;
	top: 7%;
	left: 1%;
	color:aliceblue;
	font-size: 200%;

}
.timer{
	position: fixed;
	top: 1%;
	left: 1%;
	color:aliceblue;
	font-size: 150%;
}
.lives{
	position: fixed;
	bottom: 1%;
	left: 1%;
	color:aliceblue;
	font-size: 150%;
}
.powerup{
	position: fixed;
	bottom: 10%;
	width: 100%;
	color:rgb(252, 138, 0);
	font-size: 200%;
	text-align: center;
}

.menu{
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: rgb(12, 5, 48);
	width: 40%;
    height: auto;
	border-radius: 4px;
	border-width: 2px;
	border-color: aliceblue;
	color: aliceblue;
	border-style: solid;
}

*{
	font-family: 'Roboto', sans-serif;
	font-family: 'VT323', monospace;
	font-size: 120%;
}
​
/* 
*{
	cursor: none;
}

	margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
*/
